html, body, #root, .page-view {
    height: 100%;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border-color: none;
    border-style: none;
}

[type=reset], [type=submit], button, html [type=button] {
    border-color: none;
    border-style: none;
}