body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#icons {
	padding-left: 22px;
}

footer { 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#home-page {
	background-color: blue;
}

#logo-bowl {
	max-height: 200px;
	margin-top: 20px;
}

#locations {
	font-size: 14px;
}

#menu-page {
	height: 500px;
	background-image: "../public/udonpic.png";
}

nav a {
	color: lightgrey;
	font-size: 18px;
	font-family: lato;	
}

nav a:hover {
	color: white;
}

nav img {
	height: 40px;
}

.nav-item {
	font-size: 20px;
	font-family: "Helvetica Neue";/*
	text-transform: uppercase;*/
	letter-spacing: .5px;
}

#red {
	color: red;
}

svg {
	fill: white;
}

/* this is the menu page css */

.udon-red {
    color: #ed1c24;
}

div.menu-header {
    font-size: 24px;
    font-weight: 700;
}

div.udon-red {
	font-size: 24px;
	font-weight: 700;
}

.specials {
	font-size: 24px;
	font-weight: 700;
}

.container {
	float: center;
	align-items: center;
}

div.udon-red.menu-header {
	float: center;
}

.menu-desc {
    width: 125px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
	white-space: normal;
}

.udon-title {
	font-size: 20px;
	font-weight: 700;
	width: 200px;
    height: 250px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.menu-japanese {
	font-size: 20px;
	font-weight: 700;
}

.container-1 {
	border: 1px #ccc solid;
	padding: 10px;
}

/* this is the home page css */
.hours-list {
	overflow: auto;
	max-height: 200px;
	max-width: 1000px;
	border: 1px #ccc solid;
	padding: 10px;
}

.view-menu {
	margin: 0 auto;
	width: 100px; 
	color: black;
	text-decoration-color: black;
}

h2 {
	
}