body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#icons {
	padding-left: 22px;
}

footer { 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#locations {
	font-size: 14px;
}

.menu-pic {
	margin: 0 auto;
}

#menu-page {
	height: 500px;
	background-image: "../public/udonpic.png";
}

nav a {
	color: lightgrey;
	font-size: 18px;
	font-family: lato;	
}

.barlow {
	font-family: "Barlow";
}

#red {
	color: red;
}

svg {
	fill: black;
}