body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#icons {
	padding-left: 22px;
}

footer { 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#locations {
	font-size: 14px;
}

#menu-page {
	height: 500px;
	background-image: "../public/udonpic.png";
}

nav a {
	color: lightgrey;
	font-size: 18px;
	font-family: lato;	
}

nav a:hover {
	color: white;
}

nav img {
	height: 40px;
}

.nav-item {
	font-size: 20px;
	font-family: "Helvetica Neue";/*
	text-transform: uppercase;*/
	letter-spacing: .5px;
}

#red {
	color: red;
}

svg {
	fill: white;
}

.udon-red {
    color: #ed1c24;
}

div.menu-header {
    font-size: 24px;
    font-weight: 700;
}

div.udon-red {
	font-size: 24px;
	font-weight: 700;
}

.specials {
	font-size: 24px;
	font-weight: 700;
}

.container {
	float: center;
	align-items: center;
}

div.udon-red.menu-header {
	float: center;
}