div.menu-header {
    font-size: 24px;
    font-weight: 700;
}

div.udon-red {
	font-size: 24px;
	font-weight: 700;
}

.specials {
	font-size: 24px;
	font-weight: 700;
}

.selection-1 {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: bold;
	font-size: 50px;
}

.selection-2 {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-weight: bold;
}

.menu-desc {
    width: 200px;
    margin: auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
	white-space: normal;
}

.udon-title {
	font-size: 20px;
	font-weight: 700;
	width: 200px;
    height: 250px;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.menu-japanese {
	font-size: 20px;
	font-weight: 700;
}

.container-1 {
	border: 1px #ccc solid;
	padding: 10px;
}

.btn {
    margin: 1rem;
}

.center .form-group {
    text-align: center;
}

.center .form-control {
    margin: auto;
}

.modal-body {
    text-align: center;
    width: 100%;
    margin: auto;
}

.center {
    text-align: center; 
    margin-top: 2rem;
}

.food-item {
    max-width: 150px;
}

.hide {
    display: none;
}
