nav img {
	height: 40px;
}

.nav-link {
    color: lightgrey;
    cursor: pointer;
}

.nav-link:hover {
    color:black;
}

#dropdown {
	list-style: none;
}

.nav-item {
	font-size: 20px;
	font-family: "Barlow Condensed";
    letter-spacing: .5px;
    cursor: pointer
}

.dropdown-item {
    cursor: pointer;
}

.login-info {
	border-bottom: 1px #e1e4e8 solid;
	padding-bottom: 8px;
}

@media (max-width: 768px) {
	.navbar {
		display: none;
	}
}