h1 {
    margin: 1rem;
    font-weight: bolder;
}

.form-control {
    width: 100%;
    border-radius: 3px;
    font: inherit;
    font-size: 1.1rem;
    padding: 12px 20px;
    border: 1px solid rgb(157, 157, 157);
    box-sizing: border-box;
}

.initial-page .form-control {
    max-width: 320px;    
    margin: auto;
}

.btn {
    max-width: 320px;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}